body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #072908;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ddd;
}

a{
    color: white;
}

#logo{

    border-radius: 15px;
    border: 100px white;
}

.section { padding: 20px; margin: 20px; background-color: white; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center; } 
.stats { margin-top: 20px; display: flex; justify-content: space-around; } 
.stats p { font-size: 1.2em; } 
.image { max-width: 100%; height: auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-top: 20px; } 